.mainTitle{
  	font-size:75px;
  	font-family:fantasy;
  	animation-name:fadeInOut;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes fadeInOut{
    0%   {color:rgb(114, 4, 4)}
    25%  {color:hotpink}
    50%  {color:rgb(70, 8, 117)}
    75%  {color:magenta}
    100% {color:blue}
}
ol{
	display:inline-block;
	margin-left:auto;
	margin-right:auto;
	font-size:20px;
	font-family:cursive;
	color:black;
	padding-bottom:30px;
}
li a{
	color:black;
	display:inline-block;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
    float:left;
    font-size:20px;
}
.name{
	font-family:cursive;
	font-size:40px;
	text-decoration:underline;
	padding-bottom:30px;
	text-shadow:2px 2px 2px white;
}
p{
	font-size:20px;
	font-family:cursive;
	color:black;
	padding-bottom:30px;
}
ul{
    list-style-type:none;
    margin-left:auto;
    margin-right:auto;
    overflow:hidden;
}
li a:hover{
	background-color:white;
	border-radius:20%;
	padding:5px
}
.slideIn{
  border-radius: 20%;
  -webkit-transition:-webkit-transform 2s ease-in-out;
          transition:transform 2s ease-in-out;
}
.slideIn:hover{
  -webkit-transform:rotateY(360deg);
          transform:rotateY(360deg);
}




